body {
    background-color: #7d6a66;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
}

.container {
    margin: 20px auto;
    width: 80%;
    max-width: 600px;
}

.heading {
    font-size: 24px;
    margin-bottom: 20px;
}

.emotion-icons {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 30px;
}

.emotion {
    background: none;
    border: none;
    font-size: 30px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.emotion:hover {
    transform: scale(1.2);
}

/* Make the canvas full width */

.chart-container {
    display: flex;
    justify-content: center; /* Centers the canvas horizontally */
    align-items: center; /* Centers vertically */
    width: 100%;
    max-width: 600px; /* Adjust as needed */
    margin: auto;
}

canvas {
    width: 100%;
    height: auto;
    border: 1px solid lightgray;
    max-width: 100%;
    max-height: 400px;
    display: block;
    object-fit: contain;
    margin-bottom: 20px;
}




